.main {
  background: #ffff;
  padding: 20px;
  margin: 50px auto;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}
